<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  </head>
  <style>
      body {
        background-image: url("https://images.unsplash.com/photo-1678911820864-e2c567c655d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Arial, sans-serif;
      }
      
    </style>
  <body>
    {% if messages %}
 {% for i in messages %}
   {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
   <div class="alert alert-success alert-dismissible">
     <button type="button" class="close" data-dismiss="alert"></button>
     {{i}}
   </div>
   {% endif %}
   {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
   <div class="alert alert-danger alert-dismissible">
   <button type="button" class="close" data-dismiss="alert"></button>
   {{i}}
   </div>
   {% endif %}
 {% endfor %}
 {% endif %}
      <h1 class="bg-dark text-center text-secondary">E-Mobile Store</h1>
      
<br><br><br><br><br><br>
      <form action="" method="post">
        {%csrf_token%}
        <center>
        <table class="text-light bg-dark" style="align-items: left;">
            {{form.as_table}}
    </table>
  
      <div class="col-md-12 text-center">
        <button class="btn btn-secondary">Login</button>
        <br><br>
        <h6 class="text-light">don't have an account</h6>
        <a href="{% url 'reg' %}" >Sign in</a>
        
      </div>
      </form>
    </center>

</div>
 </body>
</html> 