{% extends 'main.html' %}
{% load static %}
{% block content %}

<body style="background-color: rgb(180, 180, 180);">
<h3 class="bg-light text-center">PAYMENT</h3>
<br><br>
<form action=""  method="post" enctype="multipart/form-data" class="text-center">
   {%csrf_token%}
 
  <table class="text-light bg-dark" style="align-items: center;">

    {{form.as_p}}

    <a href="{% url 'chome' %}" button class="btn btn-primary ">Order</button></a>
   </table>
  </form>
   
 


</body>

{% endblock content %}
